table,
th,
td {
    border: 1px solid rgb(165, 197, 165);
}

th,
td {
    padding: 10px;
}

.topBar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #cbd5e0;
    background-color: aliceblue;

    padding: 0 20px;
}

.sideNav {
    position: fixed;
    top: 71px;
    left: 0;
    width: 220px;
    height: calc(100vh - 110px);

    background: #f6faff;
    border-right: 1px solid #cbd5e0;
    padding: 20px;
    overflow-y: auto;
}

.main-content {
    margin-top: 71px;
    margin-left: 250px;
    padding: 20px;
}

.sideNav h3 {
    font-size: 16px;
    margin-top: 20px;
    color: #003366;
}

.sideNav a {
    display: block;
    text-decoration: none;
    color: #003366;
    padding: 8px 4px;
    border-radius: 4px;
    margin-bottom: 8px;
}

.webpage-title {
    font-size: 50px;
    font-weight: bold;
    color: #111a93;
}

.username {
    margin-right: 15px;
    font-weight: bold;
    color: #333;
}

.page-link,
.public-link,
.logout-link {
    margin-right: 15px;
    margin-left: 15px;
}

.public-link {
    color: darkgreen;
}

.logout-link {
    color: darkred;
}

form input {
    display: block;
}