table,
th,
td {
    border: 1px solid rgb(165, 197, 165);
}

th,
td {
    padding: 10px;
}

.basicHomeFuncs {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}

body {
    padding-top: 110px;
}

.page-link {
    margin-right: 15px;
    margin-left: 15px;
}