a {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
}

a:hover {
    color: white;
    text-decoration: none;
}

a:active {
    color: white;
}

.nav-row {
    display: flex;
    gap: 50px;
    /* space between links */
}

#top {
    padding: 30px;
    background-color: #151b54;
}

#public {
    background-color: antiquewhite;
    padding: 30px;
    padding-right: 5px;
    position: center;
}

.center-wrapper {
    flex: 1;
    /* take remaining height under nav */
    display: flex;
    justify-content: center;
    /* horizontal center */
    align-items: center;
    /* vertical center */
}

.menu-box {
    background: rgba(0, 0, 0, 0.55);
    /* translucent dark box */
    padding: 32px 80px;
    border-radius: 12px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* centers it */
}

.menu-box a {
    display: block;
    /* forces each link onto its own line */
    margin: 20px 0;
    /* optional spacing between them */
}