html,
body {
    height: 100%;
    margin: 0;
}

body {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    margin-bottom: 12px;
}

p {
    margin: 6px 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}

ul li {
    margin: 6px 0;
}

p a {
    margin-top: 12px;
    display: inline-block;
}