<!DOCTYPE html>
<html>

<head>
    <title>Add {{add_type}}</title>
    <link rel="stylesheet" href="static/general.css">
    <script>
        function validateForm() {
            let depart_airport = document.forms["myForm"]["departure-airport"].value;
            let arriv_airport = document.forms["myForm"]["arrival-airport"].value;
            if (depart_airport == arriv_airport) {
                alert("The departure airport and arrival airport for the flight cannot be the same.");
                return false;
            }
        }
    </script>
</head>

<body>
    <div class="topBar">
        <div class="left-top"></div>
        <div class="center-top">
            <span class="webpage-title">Air Ticket Reservation </span>
        </div>
        <div class="right-top">
            <span class="username">Welcome {{username}}</span>
            <a class='logout-link' href="/logout">log out</a>
        </div>
    </div>
    <div class="sideNav">
        <h3>Tools</h3>
        {% if usertype %}
        {% if usertype == "customer" %}
        <a class='page-link' href="/browseFlights">Browse Flights</a>
        <a class='page-link' href="/purchasedFlights">View purchased flights</a>
        <a class='page-link' href="/spendingStats">View spending stats</a>
        {% endif %}

        {% if usertype == "agent" %}
        <a class='page-link' href="/purchasedFlightsA">View flights purchased for clients</a>
        <a class='page-link' href="/browseFlightsA">Browse flights</a>
        <a class='page-link' href="/analyticsA">Analytics</a>
        {% endif %}

        {% if usertype == "airline_staff" %}
        <a class='page-link' href="/upcomingFlightsStaff">View upcoming flights for your airline</a>
        <a class='page-link' href="/passengerList">Check passenger list by flight number</a>
        <a class='page-link' href="/customersFlights">Look up flights taken by a customer</a>
        <a class='page-link' href="/analyticsStaff">Analytics</a>
        {% endif %}

        {% endif %}

        {% if specialperm %}
        {% if "admin" in specialperm %}
        <h3>Admin Tools</h3>
        <a class='page-link' href="/addAirport">Add new airport</a>
        <a class='page-link' href="/addAirplane">Add new airplane</a>
        <a class='page-link' href="/createFlight">Create flight</a>
        <a class='page-link' href="/assignAgent">Assign agent to airline</a>
        {% endif %}

        {% if "operator" in specialperm %}
        <h3>Operator Tools</h3>
        <a class='page-link' href="/updateStatus">Update flight status</a>
        {% endif %}
        {% endif %}
    </div>
    <div class="main-content">
        <!--adding airport-->
        {% if add_type=="airport" %}

        {% if success %}
        <p style="color: green; font-weight: 600;">{{ success }}</p>
        {% endif %}
        {% if error %}
        <p style="color: red; font-weight: 600;">{{ error }}</p>
        {% endif %}

        <form action="/confirmAddition" method="POST">
            <input type="hidden" name="add-type" id="add-type" value="{{add_type}}">
            <input type="text" name="airport-name" id="airport-name" placeholder="Enter the airport name" required>
            <input type="text" name="city-name" id="city-name" placeholder="Enter the city name" required>
            <input type="submit" value="Submit">
        </form>
        {% endif %}


        <!--adding airplane-->
        {% if add_type=="airplane" %}
        {% if success %}
        <p style="color: green; font-weight: 600;">{{ success }}</p>
        {% endif %}
        {% if error %}
        <p style="color: red; font-weight: 600;">{{ error }}</p>
        {% endif %}

        <form action="/confirmAddition" method="POST">
            <input type="hidden" name="add-type" id="add-type" value="{{add_type}}">
            <input type="hidden" name="airline-name" id="airline-name" value="{{airline}}">
            <input type="number" name="plane-id" id="plane-id" placeholder="Enter the new plane's ID" required>
            <input type="text" name="plane-capacity" id="plane-capacity" placeholder="Enter the plane's capacity"
                required>
            <input type="submit" value="Submit">
        </form>
        {% endif %}

        <!--adding flight-->
        {% if add_type=="flight" %}
        <p>Note: Due to times being stored and interpret in the local timezone of the arrival or destination city, the
            arrival time is allowed to be 'before' the departure time. For example, a flight leaving on Tuesday at
            4:30PM from South Korea may land Tuesday at 11:30AM in California. Therefore, no constraint is placed on the
            arrival time being after the departure time. Staff are expected to fill in the correct times given the
            complexity of calculating time differences across timezones.</p><br>
        {% if success %}
        <p style="color: green; font-weight: 600;">{{ success }}</p>
        {% endif %}
        {% if error %}
        <p style="color: red; font-weight: 600;">{{ error }}</p>
        {% endif %}

        <form name="myForm" action="/confirmAddition" onsubmit="return validateForm()" method="post">
            <input type="hidden" name="add-type" id="add-type" value="{{add_type}}">
            <input type="hidden" name="airline-name" id="airline-name" value="{{airline}}">
            <input type="text" name="flight-num" id="flight-num" placeholder="Enter the flight number" required>
            <!--assuming no conversion needed for timezone-->
            <label for="departure-time">Enter the departure time</label>
            <input type="datetime-local" name="departure-time" id="departure-time" required>
            <label for="arrival-time">Enter the arrival time</label>
            <input type="datetime-local" name="arrival-time" id="arrival-time" placeholder="Enter the arrival time"
                required>
            <input type="number" name="ticket-price" id="ticket-price" placeholder="Enter the standard ticket price"
                required>

            <!--the following inputs must be selected from a list.-->
            <input list="plane-ID-options" name="plane-id" id="plane-id" placeholder="Enter the plane's ID" required>
            <datalist id="plane-ID-options">
                {% for ID in planeIDs %}
                <option value="{{ID}}">{{ID}}</option>
                {% endfor %}
            </datalist>
            <input list="airplane-options" name="departure-airport" id="departure-airport" required
                placeholder="Enter the airport of departure">
            <input list="airplane-options" name="arrival-airport" id="arrival-airport"
                placeholder="Enter the airport of arrival" required>
            <datalist id="airplane-options">
                {% for airport in airports %}
                <option value="{{airport}}">{{airport}}</option>
                {% endfor %}
            </datalist>
            <input type="submit" value="Submit">
        </form>

        {% endif %}

        <!--assigning agent to airline-->
        {% if add_type=="assignAgent" %}

        {% if success %}
        <p style="color: green; font-weight: 600;">{{ success }}</p>
        {% endif %}
        {% if error %}
        <p style="color: red; font-weight: 600;">{{ error }}</p>
        {% endif %}

        <form action="/confirmAddition" method="POST">
            <input type="hidden" name="add-type" id="add-type" value="{{add_type}}">
            <input type="hidden" name="airline-name" id="airline-name" value="{{airline}}">

            <input list="agent-options" name="agent" id="agent" required
                placeholder="Enter the agent email to establish a relationship with {{airline}}.">
            <datalist id="agent-options">
                {% for agent in agents %}
                <option value="{{agent}}">{{agent}}</option>
                {% endfor %}
            </datalist>

            <input type="submit" value="Submit">
        </form>

        {% endif %}

    </div>

</body>

</html>