<!DOCTYPE html>
<html>

<head>
    <title>Analytics</title>
    <link rel="stylesheet" href="static/general.css">
</head>

<body>
    <div class="basicHomeFuncs">
        <a class='page-link' href="/home">Go Home</a>
        <a class='logout-link' href="/logout">log out</a>
    </div>
    <div>
        <H3>Top Agent </H3>
        <p>Top agent by tickets sold:</p>
        {% if topAgentExists %}
        <table id="agent-by-tick">
            <tr>
                <th>Year</th>
                <th>Month</th>
                <th>Agent email</th>
                <th>Tickets Sold</th>
            </tr>
            {% for row in agent_tick %}
            <tr>
                {% for entry in row %}
                <td>{{entry}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        {% endif %}
        {% if not topAgentExists %}
        <p>No ticket sales were made by agents for this airline.</p>
        {% endif %}

        <p>Top agent by total commission:</p>
        {% if topAgentExists %}
        <table id="agent-by-comm">
            <tr>
                <th>Year</th>
                <th>Month</th>
                <th>Agent email</th>
                <th>Total Commission</th>
            </tr>
            {% for row in agent_comm %}
            <tr>
                {% for entry in row %}
                <td>{{entry}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        {% endif %}
        {% if not topAgentExists %}
        <p>No ticket sales were made by agents for this airline.</p>
        {% endif %}

        <H3>Top Customer</H3>
        <p>Top customer within last year: {{top_customer}}</p>

        <H3>Tickets sold per month</H3>
        <table>
            <tr>
                <th>Year</th>
                <th>Month</th>
                <th>Tickets Sold</th>
            </tr>
            {% for row in monthly_tickets_data %}
            <tr>
                {% for entry in row %}
                <td>{{entry}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>

    </div>
</body>

</html>