<!DOCTYPE html>
<html>

<head>
    <title>Analytics</title>
    <link rel="stylesheet" href="static/general.css">
</head>

<body>
    <div class="topBar">
        <div class="left-top"></div>
        <div class="center-top">
            <span class="webpage-title">Air Ticket Reservation </span>
        </div>
        <div class="right-top">
            <span class="username">Welcome {{username}}</span>
            <a class='logout-link' href="/logout">log out</a>
        </div>
    </div>
    <div class="sideNav">
        <h3>Tools</h3>
        {% if usertype %}
        {% if usertype == "customer" %}
        <a class='page-link' href="/browseFlights">Browse Flights</a>
        <a class='page-link' href="/purchasedFlights">View purchased flights</a>
        <a class='page-link' href="/spendingStats">View spending stats</a>
        {% endif %}

        {% if usertype == "agent" %}
        <a class='page-link' href="/purchasedFlightsA">View flights purchased for clients</a>
        <a class='page-link' href="/browseFlightsA">Browse flights</a>
        <a class='page-link' href="/analyticsA">Analytics</a>
        {% endif %}

        {% if usertype == "airline_staff" %}
        <a class='page-link' href="/upcomingFlightsStaff">View upcoming flights for your airline</a>
        <a class='page-link' href="/passengerList">Check passenger list by flight number</a>
        <a class='page-link' href="/customersFlights">Look up flights taken by a customer</a>
        <a class='page-link' href="/analyticsStaff">Analytics</a>
        {% endif %}

        {% endif %}

        {% if specialperm %}
        {% if "admin" in specialperm %}
        <h3>Admin Tools</h3>
        <a class='page-link' href="/addAirport">Add new airport</a>
        <a class='page-link' href="/addAirplane">Add new airplane</a>
        <a class='page-link' href="/createFlight">Create flight</a>
        <a class='page-link' href="/assignAgent">Assign agent to airline</a>
        {% endif %}

        {% if "operator" in specialperm %}
        <h3>Operator Tools</h3>
        <a class='page-link' href="/updateStatus">Update flight status</a>
        {% endif %}
        {% endif %}
    </div>
    <div class="main-content">
        <H3>Top Agent </H3>
        <p>Top agent by tickets sold:</p>
        {% if topAgentExists %}
        <table id="agent-by-tick">
            <tr>
                <th>Year</th>
                <th>Month</th>
                <th>Agent email</th>
                <th>Tickets Sold</th>
            </tr>
            {% for row in agent_tick %}
            <tr>
                {% for entry in row %}
                <td>{{entry}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        {% endif %}
        {% if not topAgentExists %}
        <p>No ticket sales were made by agents for this airline.</p>
        {% endif %}

        <p>Top agent by total commission:</p>
        {% if topAgentExists %}
        <table id="agent-by-comm">
            <tr>
                <th>Year</th>
                <th>Month</th>
                <th>Agent email</th>
                <th>Total Commission</th>
            </tr>
            {% for row in agent_comm %}
            <tr>
                {% for entry in row %}
                <td>{{entry}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        {% endif %}
        {% if not topAgentExists %}
        <p>No ticket sales were made by agents for this airline.</p>
        {% endif %}

        <H3>Top Customer</H3>
        <p>Top customer within last year: {{top_customer}}</p>

        <H3>Tickets sold per month</H3>
        <table>
            <tr>
                <th>Year</th>
                <th>Month</th>
                <th>Tickets Sold</th>
            </tr>
            {% for row in monthly_tickets_data %}
            <tr>
                {% for entry in row %}
                <td>{{entry}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>

    </div>
</body>

</html>