<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="static/general.css">
    <title>Air Ticket Reservation</title>
</head>

<body>
    <div class="basicHomeFuncs">
        <a class='logout-link' href="/logout">log out</a>
        <a class='page-link' href="/home">home</a>
        <a class='page-link' href="/browseFlights">Browse Flights</a>
        <a class='page-link' href="/purchasedFlights">View purchased flights</a>
    </div>
    <div>
        <p>success. You have purchased the tickets.</p>
    </div>
</body>

</html>