<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="static/general.css">
    <title>Check Flight Status</title>
</head>

<body>
    <div class="topBar">
        <div class="left-top"></div>
        <div class="center-top">
            <span class="webpage-title">Air Ticket Reservation </span>
        </div>
        {% if isLoggedIn %}
        <div class="right-top">
            <span class="username">Welcome {{username}}</span>
            <a class='logout-link' href="/logout">log out</a>
        </div>
        {% endif %}
        {% if not isLoggedIn %}
        <div class="right-top">
            <a href="/">Back to index</a>
        </div>
        {% endif %}
    </div>
    <div class="sideNav">
        <h3>Tools</h3>
        {% if usertype == "system_admin" %}
        <a href="/system-admin/dashboard">Dashboard</a>
        {% endif %}
        {% if not isLoggedIn %}
        <span>Please log in to use tools.</span>
        {% endif %}

        {% if usertype %}
        {% if usertype == "customer" %}
        <a class='page-link' href="/browseFlights">Browse Flights</a>
        <a class='page-link' href="/purchasedFlights">View purchased flights</a>
        <a class='page-link' href="/spendingStats">View spending stats</a>
        {% endif %}

        {% if usertype == "agent" %}
        <a class='page-link' href="/purchasedFlightsA">View flights purchased for clients</a>
        <a class='page-link' href="/browseFlightsA">Browse flights</a>
        <a class='page-link' href="/analyticsA">Analytics</a>
        {% endif %}

        {% if usertype == "airline_staff" %}
        <a class='page-link' href="/upcomingFlightsStaff">View upcoming flights for your airline</a>
        <a class='page-link' href="/passengerList">Check passenger list by flight number</a>
        <a class='page-link' href="/customersFlights">Look up flights taken by a customer</a>
        <a class='page-link' href="/analyticsStaff">Analytics</a>
        {% endif %}

        {% endif %}

        {% if specialperm %}
        {% if "admin" in specialperm %}
        <h3>Admin Tools</h3>
        <a class='page-link' href="/addAirport">Add new airport</a>
        <a class='page-link' href="/addAirplane">Add new airplane</a>
        <a class='page-link' href="/createFlight">Create flight</a>
        <a class='page-link' href="/assignAgent">Assign agent to airline</a>
        {% endif %}

        {% if "operator" in specialperm %}
        <h3>Operator Tools</h3>
        <a class='page-link' href="/updateStatus">Update flight status</a>
        {% endif %}
        {% endif %}
    </div>

    <div class="main-content">
        <!-- get flight status, search by airline and flight number-->
        <!-- consider selecting only a few columns to show-->
        <input type="text" id="filter-airline" onkeyup="myFunction()" placeholder="Filter by airline">
        <input type="text" id="filter-flight-no" onkeyup="myFunction()" placeholder="Filter by flight number">

        <table id="myTable">
            <tr>
                <th>Airline</th>
                <th>Flight No.</th>
                <th>Departure Airport</th>
                <th>Departure City</th>
                <th>Departure Time</th>
                <th>Arrival Airport</th>
                <th>Arrival City</th>
                <th>Arrival Time</th>
                <th>Ticket Price</th>
                <th>Status</th>
                <th>Airplane ID</th>
            </tr>

            {% for row in table %}
            <tr>
                {% for col in row %}
                <td>{{col}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>

        <!--user lookup of any flight, get status-->
        <form method="POST" action="/flightStatus">
            <label>Airline:</label>
            <select id="airline-select" name="airline" required>
                <option value="">--Select airline--</option>
                {% for airline in airlines_and_flightnos.keys() %}
                <option value="{{ airline }}">{{ airline }}</option>
                {% endfor %}
            </select>

            <label>Flight Number:</label>
            <select id="flightno-select" name="flightno" required>
                <option value="">--Select flight--</option>
            </select>

            <button type="submit">Check Status</button>
        </form>

        {% if flight_status_result %}
        <p style="margin-top:15px; font-weight:bold;">
            {{ flight_status_result }}
        </p>
        {% endif %}

        <script>
            // Script for filtering table
            function myFunction() {
                // inputs from user
                var filter1 = document.getElementById("filter-airline").value.toUpperCase();
                var filter2 = document.getElementById("filter-flight-no").value.toUpperCase();

                //getting table contents
                var table = document.getElementById("myTable");
                // rows
                var tr = table.getElementsByTagName("tr");

                // go through all the rows, checking if row passes the filters. If not, exclude.
                for (var i = 1; i < tr.length; i++) {
                    var td1 = tr[i].getElementsByTagName("td")[0]; // airline
                    var td2 = tr[i].getElementsByTagName("td")[1]; // flight no

                    // logic: if the input does not exist, match is true (no filter provided). otherwise (filter provided), check if table val includes filter.
                    let match1 = !filter1 || (td1 && td1.textContent.toUpperCase().includes(filter1));
                    let match2 = !filter2 || (td2 && td2.textContent.toUpperCase().includes(filter2));

                    // if any of the filters fail, exclude. Otherwise, include.
                    tr[i].style.display = (match1 && match2) ? "" : "none";
                }
            }
        </script>

        <script>
            // script for creating flight number dropdown
            let airlineData = {{ airlines_and_flightnos | tojson }};

            // get input from first dropdown (airline) when there is a change in value
            document.getElementById("airline-select").addEventListener("change", function () {
                let airline = this.value;
                let flightSelect = document.getElementById("flightno-select");

                flightSelect.innerHTML = "<option value=''>--Select flight--</option>";

                if (airlineData[airline]) {
                    airlineData[airline].forEach(function (num) {
                        let opt = document.createElement("option");
                        opt.value = num;
                        opt.text = num;
                        flightSelect.appendChild(opt);
                    });
                }
            });
        </script>
    </div>


</body>

</html>