<html>

<head>
    <link rel="stylesheet" href="static/login.css">
</head>

<body>
    <h1>Login</h1>
    <form action="/loginAuth" method="POST">
        <input type="text" name="username" placeholder="username" required /> </br>
        <input type="password" name="password" placeholder="password" required /></br>
        <select type="user_type" name="user_type" placeholder="select user type" required>
            <option value="customer">Customer</option>
            <option value="agent">Agent</option>
            <option value="airline_staff">Airline Staff</option>
        </select>
        <input type="submit" value=Login />

        <!--added the following to display success message-->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, msg in messages %}
        <div class="{{ category }}">{{ msg }}</div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        {% if error %}
        <p class="error"><strong>Error:</strong> {{error}}</p>
        {% endif %}
    </form>

    <a href="/">Go back</a>

</body>


</html>